.plan-header .plan-price {
	color: $gray-dark;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.plan-price__billing-period {
	font-size: 12px;
	font-style: italic;
	color: darken( $gray, 10% );
}

.plan-header .plan-price__discount,
.plan-price__discount .plan-price__billing-period {
	color: $alert-green;
}

.plan-price.is-placeholder {
	@include placeholder( 23% );
}

.plan-price__discounted {
	color: $gray;
	text-decoration: line-through;
}

.plans-compare {
	.plan-price {
		font-size: 10px;
		padding: 1em 0;

		@include breakpoint( ">480px" ) {
			font-size: 12px;
		}

		@include breakpoint( ">660px" ) {
			font-size: 16px;
		}
	}

	.plan-price__billing-period {
		display: block;
		opacity: .7;
	}

	.plan-price__discount {
		color: $alert-green;
	}
}

@mixin plans-collapsed() {
	.plan-header .plan-price {
		padding: 0 20px 0 40px;
	}

	.plan-price__billing-period {
		margin-left: 3px;
	}
}

@mixin plans-in-three-columns() {
	.plan-header .plan-price {
		text-align: center;
		font-size: 18px;
	}

	.plan-price__billing-period {
		display: block;
	}
}

.plans.has-sidebar {
	@include breakpoint( "<960px" ) {
		@include plans-collapsed();
	}

	@include breakpoint( ">960px" ) {
		@include plans-in-three-columns();
	}
}

.plans.has-no-sidebar {
	@include breakpoint( "<660px" ) {
		@include plans-collapsed();
	}

	@include breakpoint( ">660px" ) {
		@include plans-in-three-columns();
	}
}

.jetpack-price {
	margin-top: 20px;
	padding: 0 6px;
	display: inline-block;
	position: relative;
}

.jetpack-price:first-child {
	opacity: 0.4;
}

.jetpack-price:first-child::before {
	content: '';
	border-bottom: 2px solid red;
	width: 100%;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: skewY(-10deg);
	transform: skewY(-10deg);
}
